p{
    color: red;
}

p{
    color: blue;
}







/*
#topo{
    
    background-color: yellow;
}

#rodapé{
    border: 2px solid grey;
   
}

.curso{
    background-color: lightgrey;
}

.curso-destaque{
    background-color: darkorange;
}




#topo{
    background-color: red;
}


#promocao{
    background-color: grey;
}

.destaque{
    background-color: orange;
}









h2{
    color: blue;
}

a{color: green;}

p{color: slateblue
}

li{
    border: solid 1px blue; background-color:lightblue
}

table{
    border: solid 5px darkred; background-color: orange;
}

td{
    border: solid 5px black; 
}
    */


   